<div class="container">
  <h1>Atm App</h1>
  <hr>
  <h3>Current available denomination in machine</h3>
  <table class="table">
    <!-- <caption>Current available denomination in machine</caption> -->
    <tbody>
      <tr>
        <th class="table-cell">2000</th>
        <td class="table-cell">0</td>
        <td class="table-cell"><input type="number" name="" id=""></td>
      </tr>
            <tr>
        <th class="table-cell">500</th>
        <td class="table-cell">0</td>
        <td class="table-cell"><input type="number" name="" id=""></td>
      </tr>
            <tr>
        <th class="table-cell">200</th>
        <td class="table-cell">0</td>
        <td class="table-cell"><input type="number" name="" id=""></td>
      </tr>
            <tr>
        <th class="table-cell">100</th>
        <td class="table-cell">0</td>
        <td class="table-cell"><input type="number" name="" id=""></td>
      </tr>
            <tr>
        <th class="table-cell">Total</th>
        <td class="table-cell">0</td>
        <td class="table-cell"><button>Deposit</button></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <input type="number" name="" id="">
  <button>Withdraw</button>
  <hr>
  <h3>Log</h3>
  <!-- to do log alert-info -->
</div>