.container {
    background-color: #eee;
    margin: auto;
    width: 50%;
    padding: 60px;
    border: 1px solid black;
}

.table {
    width: 100%;
}

.table-cell {
    width: 33%;
    padding: 10px;
    > input {
        width: 100%;
    }
}

th {
    text-align: left;
}

.deposit-btn {
    width: 50%;
    font-size: large;
    font-weight: 700;
    padding: 10px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.middle-container {
    padding: 20px;
    > input {
        width: 77%;
        padding: 10px;
        font-size: x-large;
    }
    > button {
        width: 20%;
        padding: 10px;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        font-size: x-large;
    }
}

.log-card {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.log-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.log-failure {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}